# Environments
.env
.env.*
backend/google_credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
backend/venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Node
node_modules/
npm-debug.log
yarn-error.log
frontend/dist/
backend-node/node_modules/

# OS
.DS_Store
Thumbs.db
